<div>
    <h2>
        <span jhiTranslate="gestLrApp.periode.home.title">Periodes</span>
        <button class="btn btn-primary float-right jh-create-entity create-periode" [routerLink]="['/', { outlets: { popup: ['periode-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gestLrApp.periode.home.createLabel">
            Create new Periode
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="periodes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestLrApp.periode.annee">Annee</span></th>
            <th><span jhiTranslate="gestLrApp.periode.mois">Mois</span></th>
            <th><span jhiTranslate="gestLrApp.periode.echeance">Echeance</span></th>
            <th><span jhiTranslate="gestLrApp.periode.statut">Statut</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let periode of periodes ;trackBy: trackId">
                <td><a [routerLink]="['../periode', periode.id ]">{{periode.id}}</a></td>
                <td>{{periode.annee}}</td>
                <td>{{periode.mois}}</td>
                <td>{{periode.echeance | date:'medium'}}</td>
                <td>{{periode.statut}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../periode', periode.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'periode/'+ periode.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'periode/'+ periode.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
