<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCommentaireLabel" jhiTranslate="gestLrApp.commentaire.home.createOrEditLabel">Create or edit a Commentaire</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!commentaire.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="commentaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestLrApp.commentaire.libelle" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle"
                [(ngModel)]="commentaire.libelle" required/>
            <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.libelle?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestLrApp.commentaire.auteur" for="field_auteur">Auteur</label>
            <input type="text" class="form-control" name="auteur" id="field_auteur"
                [(ngModel)]="commentaire.auteur" required/>
            <div [hidden]="!(editForm.controls.auteur?.dirty && editForm.controls.auteur?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.auteur?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestLrApp.commentaire.dateSaisie" for="field_dateSaisie">Date Saisie</label>
            <div class="d-flex">
                <input id="field_dateSaisie" type="datetime-local" class="form-control" name="dateSaisie" [(ngModel)]="commentaire.dateSaisie"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.dateSaisie?.dirty && editForm.controls.dateSaisie?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateSaisie?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateSaisie?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gestLrApp.commentaire.periode" for="field_periode">Periode</label>
            <select class="form-control" id="field_periode" name="periode" [(ngModel)]="commentaire.periodeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="periodeOption.id" *ngFor="let periodeOption of periodes; trackBy: trackPeriodeById">{{periodeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
