<div>
    <h2>
        <span jhiTranslate="gestLrApp.commentaire.home.title">Commentaires</span>
        <button class="btn btn-primary float-right jh-create-entity create-commentaire" [routerLink]="['/', { outlets: { popup: ['commentaire-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gestLrApp.commentaire.home.createLabel">
            Create new Commentaire
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="commentaires">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestLrApp.commentaire.libelle">Libelle</span></th>
            <th><span jhiTranslate="gestLrApp.commentaire.auteur">Auteur</span></th>
            <th><span jhiTranslate="gestLrApp.commentaire.dateSaisie">Date Saisie</span></th>
            <th><span jhiTranslate="gestLrApp.commentaire.periode">Periode</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commentaire of commentaires ;trackBy: trackId">
                <td><a [routerLink]="['../commentaire', commentaire.id ]">{{commentaire.id}}</a></td>
                <td>{{commentaire.libelle}}</td>
                <td>{{commentaire.auteur}}</td>
                <td>{{commentaire.dateSaisie | date:'medium'}}</td>
                <td>
                    <div *ngIf="commentaire.periodeId">
                        <a [routerLink]="['../periode', commentaire.periodeId  ]" >{{commentaire.periodeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../commentaire', commentaire.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'commentaire/'+ commentaire.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'commentaire/'+ commentaire.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
