


<div *ngIf="isAuthenticated();then connectAccueil  else nonConnectAccueil" ></div>
<ng-template #connectAccueil>
    <div class="ui-g ui-g-nopad justify-content-center" #connectAccueil>

        <!-- Demande de congés -->
        <div class="ui-g-2 card-pointer-hand">
            <p-card title="Demande de Congés" styleClass="ui-card-shadow" routerLink="/conges">
                <p-header>
                    <img src="../../content/images/conges.jpg" alt="Demande de Congés" height="155px">
                </p-header>
                <div class="card-content-height">
                    Envie de vacances ? Venez nous en informer par ici.
                </div>
            </p-card>
        </div>

        <!-- Saisie des temps -->
        <div class="ui-g-2 card-pointer-hand">
            <p-card title="Saisie des Temps" styleClass="ui-card-shadow" routerLink="/saisie-temps">
                <p-header>
                    <img src="../../content/images/saisie-temps.jpg" class="Saisie des temps" height="155px">
                </p-header>
                <div class="card-content-height">
                    Quand on arrive à la fin du mois et qu'on doit transmettre ses imputations, c'est par ici que ça se passe.
                </div>
            </p-card>
        </div>

        <!-- Notes de frais -->
        <div class="ui-g-2 card-pointer-hand">
            <p-card title="Notes de Frais" styleClass="ui-card-shadow" routerLink="/">
                <p-header>
                    <img src="../../content/images/note-de-frais.jpg" class="Notes de frais" height="155px">
                </p-header>
                <div class="card-content-height">
                    Pour tout ce qui est relatifs aux notes de frais et à leur remboursement.
                </div>
            </p-card>
        </div>

        <!-- Documents -->
        <div class="ui-g-2 card-pointer-hand">
            <p-card title="Documents" styleClass="ui-card-shadow" routerLink="/">
                <p-header>
                    <img src="../../content/images/documents.jpg" class="Mes documents" height="155px">
                </p-header>
                <div class="card-content-height">
                    Besoin de retrouver vos documents ? Nous avons pensé à tout.
                </div>
            </p-card>
        </div>
    </div>
</ng-template>


<ng-template #nonConnectAccueil>
    <div class="row"  >
        <p>Bienvenue sur le portail de gestion LR commencez par vous identifier pour accéder à vos services</p>
    </div>
</ng-template>
