
<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Rapport d'Activité</h2>

            <h5>Saisie des Imputations</h5>

            <div>TODO - Rajouter tableau de saisie des imputations :</div>
            <div>
                <ul>
                    <li>Sous quel format ?</li>
                </ul>
            </div>

            <h5>Commentaires</h5>
            <div class="force-width-100 pb-2">
                <textarea class="force-width-100" [rows]="4" pInputTextarea [(ngModel)]="commentaires"></textarea>
            </div>

            <div class="pt-2">
                <button pButton type="button" class="pink-lr" label="Enregistrer"></button>
                <button pButton type="button" class="pink-lr" label="Valider"></button>
            </div>
        </div>
    </div>
</div>
