<div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2>Rapport d'Activité</h2>

            <h5 class="pt-3 pb-2">Saisie des Imputations</h5>

            <div>
                <p-table [value]="mapImputations">
                    <ng-template pTemplate="header">
                        <tr style="border: solid 1px #CDCDCD">
                            <th [attr.colspan]="calendrierImputations.length + 2"
                                class="temps-align-center">
                                Imputations
                            </th>
                        </tr>

                        <tr>
                            <th class="temps-align-center col-width-120"
                                style="border: solid 1px #CDCDCD">Type</th>

                            <th *ngFor="let journee of calendrierImputations | orderBy:'jour'"
                                [ngClass]="(journee.type=='WE' || journee.type=='FERIE') ?
                                            'temps-align-center temps-header-we-ferie' :
                                            'temps-align-center'"
                                style="border: solid 1px #CDCDCD">
                                {{ journee.jour }}
                            </th>

                            <th class="temps-align-center"
                                style="border: solid 1px #CDCDCD">
                                Totaux
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr class="temps-align-center">
                            <td class="col-width-120" style="border: solid 1px #CDCDCD;">{{ rowData.type }}</td>

                            <td *ngFor="let imputation of rowData.imputations | orderBy:'jour'" pEditableColumn
                                [ngClass]="isJourWeOuFerie(imputation) ? 'temps-align-center temps-col-we-ferie':''"
                                style="border: solid 1px #CDCDCD">

                                <p-cellEditor>
                                    <ng-template pTemplate="input"
                                                 *ngIf="!isJourWeOuFerie(imputation)">
                                        <input type="number" [(ngModel)]="imputation.duree"
                                               step="0.5" min="0" max="1">
                                    </ng-template>

                                    <ng-template pTemplate="output">
                                        {{imputation.duree}}
                                    </ng-template>
                                </p-cellEditor>

                            </td>
                            <td class="col-width-90 temps-align-center"
                                style="border: solid 1px #CDCDCD">{{sommeImputationsByType(rowData.imputations)}}</td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="footer" let-rowData>
                        <tr style="border: solid 1px #CDCDCD">
                            <td [attr.colspan]="10">
                                <button type="button" pButton icon="fa-plus" (click)="addLigne()" label="Ajouter une ligne"></button>
                            </td>

                            <td class="temps-text-bold temps-align-right" [attr.colspan]="calendrierImputations.length - 9">Total</td>

                            <td class="temps-align-center">{{ sommeTotaleImputationsByType() }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <div class="col-md-8">
            <h5 class="pt-3 pb-2">Commentaires</h5>
            <div class="force-width-100 pb-2">
                <textarea class="force-width-100" [rows]="4" pInputTextarea [(ngModel)]="commentaire"></textarea>
            </div>

            <h5 class="pt-3 pb-2">Historique des Commentaires</h5>
            <div class="force-width-100 pb-2">
                <div  *ngFor="let commentaireHistorise of historiqueCommentaires | orderBy:'id':true" class="bloc-commentaire">
                    <div class="date-commentaire">
                        Par <span class="text-medium-pink-lr">{{ commentaireHistorise.auteur }}</span> le <span class="text-medium-pink-lr">{{ commentaireHistorise.dateSaisie }}</span>
                    </div>
                    <div>{{ commentaireHistorise.libelle }}</div>
                    <br>
                </div>
            </div>
            <div class="pt-2">
                <button pButton type="button" class="pink-lr" label="Enregistrer"></button>
                <button pButton type="button" class="pink-lr" label="Valider"></button>
            </div>
        </div>
    </div>
</div>
