<div>
    <h2>
        <span jhiTranslate="gestLrApp.typeConge.home.title">Type Conges</span>
        <button class="btn btn-primary float-right jh-create-entity create-type-conge" [routerLink]="['/', { outlets: { popup: ['type-conge-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gestLrApp.typeConge.home.createLabel">
            Create new Type Conge
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="typeConges">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestLrApp.typeConge.nom">Nom</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let typeConge of typeConges ;trackBy: trackId">
                <td><a [routerLink]="['../type-conge', typeConge.id ]">{{typeConge.id}}</a></td>
                <td>{{typeConge.nom}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../type-conge', typeConge.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'type-conge/'+ typeConge.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'type-conge/'+ typeConge.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
